.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  width: auto;
  height: 1.5rem;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #1db954;
}
a:active {
  color: black;
}
